<div ng-attr-tabindex="{{ngDisabled ? '' : 0}}">
	<div class="multiselect-header-holder" ng-class="{open: multiselect.visible}">
		<div class="multiselect-header">
			<span class="multiselect-selected-options-scroll" ng-if="showScroll">
				<span class="up" ng-click="selectedOptionsScrollUp()"></span>
				<span class="down" ng-click="selectedOptionsScrollDown()"></span>
			</span>
			<span class="multiselect-selected-options-holder">
				<span class="multiselect-selected-options">
					<span class="multiselect-selected-option" ng-class="{'multiselect-aggregate-option': option.isAggregate}" ng-repeat="option in multiselect.options | orderBy: multiselect.sort" ng-if="option.checked" ng-click="multiselect.toggle(option)">
						<img ng-if="multiselect.iconCallback && !option.isAggregate && multiselect.iconCallback(option)" ng-src="{{multiselect.iconCallback(option)}}"/>
						<span ng-if="!(multiselect.mutateCallback && (!multiselect.mutateOnlyAggregate || option.isAggregate))" title="{{option.name}}">{{option.name}}</span>
						<span ng-if="multiselect.mutateCallback && (!multiselect.mutateOnlyAggregate || option.isAggregate)" title="{{multiselect.mutateCallback(option.name)}}">{{multiselect.mutateCallback(option.name)}}</span>
						<span class="multiselect-remove-option" ng-if="!option.isAggregate">x</span>
					</span>
				</span>
			</span>
			<span class="multiselect-drop-arrow" ng-click="toggleOpen()"></span>
		</div>
	</div>

	<div class="multiselect-options-box" ng-hide="!multiselect.visible">
		<input data-filter class="multiselect-filter" ng-if="multiselect.isSmart && multiselect.visible" ng-model="multiselect.filterText" />
		<div class="multiselect-options">
			<span ng-repeat="option in multiselect.options | filter: multiselect.filter | orderBy: multiselect.sort" ng-click="multiselect.toggle(option)" class="option" ng-if="!option.checked" ng-class="{checked: option.checked}">
				<img ng-if="multiselect.iconCallback && !option.isAggregate && multiselect.iconCallback(option)" ng-src="{{multiselect.iconCallback(option)}}"/>
				<span ng-if="!(multiselect.mutateCallback && (!multiselect.mutateOnlyAggregate || option.isAggregate))">{{option.name}}</span>
				<span ng-if="multiselect.mutateCallback && (!multiselect.mutateOnlyAggregate || option.isAggregate)">{{multiselect.mutateCallback(option.name)}}</span>
			</span>
		</div>
	</div>
</div>