<div class="single-select-header-holder" ng-class="{open: singleSelect.visible}" ng-attr-tabindex="{{ngDisabled ? '' : 0}}">
	<div class="single-select-header" ng-click="toggleOpen()">
		<span class="single-select-selected-option" ng-if="singleSelect.model">
			<img ng-if="singleSelect.iconCallback && singleSelect.iconCallback(singleSelect.model)" ng-src="{{singleSelect.iconCallback(singleSelect.model)}}">
			<span class="flag-holder" ng-if="singleSelect.model.flagCode" >
				<i class="flag-icon" ng-class="singleSelect.model.flagCode"></i>
			</span>
			<span class="selected-option-name" ng-if="!(singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || singleSelect.model == singleSelect.aggregateOption))" title="{{singleSelect.model.name}}" ng-class="{aggregate: singleSelect.model == singleSelect.aggregateOption}">{{singleSelect.model.displayName || singleSelect.model.name}}</span>
			<span class="selected-option-name" ng-if="singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || singleSelect.model == singleSelect.aggregateOption)" title="{{singleSelect.mutateCallback(singleSelect.model.name)}}" ng-class="{aggregate: singleSelect.model == singleSelect.aggregateOption}">{{singleSelect.mutateCallback(singleSelect.model.displayName || singleSelect.model.name)}}</span>
			<span class="selected-option-suffix" ng-if="singleSelect.model.suffixOptionName && singleSelect.model.suffixDisplayName !== false">{{singleSelect.model.suffixDisplayName || singleSelect.model.suffixOptionName}}</span>
		</span>
		<span class="single-select-selected-option" ng-if="!singleSelect.model">
			<span class="selected-option-name">&nbsp;</span>
		</span>
		<span class="single-select-drop-arrow"></span>
	</div>
</div>

<div data-options-box class="single-select-options-box" ng-class="{visible: singleSelect.visible}">
	<div class="options-header">
		<div class="single-select-close" ng-click="toggleOpen(true)">&times;</div>
		<div class="single-select-clear" ng-click="selectOption({id: -1});toggleOpen(true);">{{singleSelect.mutateCallback('clear')}}</div>
	</div>
	<div class="single-select-filter-wrapper" ng-if="singleSelect.isSmart && singleSelect.visible">
		<input data-filter class="single-select-filter" ng-model="singleSelect.filterText" ng-change="singleSelect.filter()" placeholder="{{singleSelect.filterPlaceholder}}">
	</div>
	<div class="single-select-options" ng-scrollbars>
		<span check-last-callback="updateSize" ng-repeat="option in singleSelect.filteredOptions" ng-init="option.index = $index" ng-click="selectOption(option)" class="option" ng-class="{checked: singleSelect.model == option, group: option.type == 'group', groupItem: option.type == 'groupItem', aggregate: option.isAggregate}">
			<img ng-if="singleSelect.iconCallback && singleSelect.iconCallback(option)" ng-src="{{singleSelect.iconCallback(option)}}">
			<span class="flag-holder" ng-if="option.flagCode" >
				<i class="flag-icon" ng-class="option.flagCode"></i>
			</span>
			<span ng-if="!(singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || option == singleSelect.aggregateOption))">{{option.name}}</span>
			<span ng-if="singleSelect.mutateCallback && (!singleSelect.mutateOnlyAggregate || option == singleSelect.aggregateOption)">{{singleSelect.mutateCallback(option.name)}}</span>
			<span class="option-suffix">{{option.suffixOptionName}}</span>
		</span>
	</div>
</div>