<div class="small-block scenarios">
	<div class="interactive-calculator-toggler" ng-if="!isMobile && !selectedProduct._calculatorVisible" ng-click="selectedProduct._calculatorVisible = !selectedProduct._calculatorVisible">
		<i class="icon" ng-include="'images/interactive-calculator-icon.svg'"></i>
		<span class="text">{{getMsgs('interactive-calculator')}}</span>
	</div>
	<h1>{{getMsgs('outcome-scenarios')}}</h1>
	<!-- <div class="table" ng-class="{'two-cells': selectedProduct._productScenarios[0] && selectedProduct._productScenarios[0].length == 2}"> -->
		<div class="outcome-scenarios-wrapper" ng-repeat="scenarioRow in selectedProduct._productScenarios">
			<div class="scenario-holder" ng-class="'scenario-holder-' + ($index + 1)" ng-repeat="scenario in scenarioRow" ng-class="{'two-cells': scenarioRow.length == 2}">
				<div data-scenario-block class="scenario-block" ng-if="scenario._template != 'short'">
					<products-scenario-tooltip 
						ng-if="isMobile"
						is-centered="true" 
						formula="selectedProduct._typeConfig.parseTooltipFormula(scenario._tooltip, {investment: formatAmount({amount: investment.invAmount, currencyId: selectedProduct.currencyId, centsPart: 2, skipAmountDivide: true, centsLength: selectedProduct.productMarkets[0].market.decimalPoint})})" 
						denomination-formula-visible="productIsSecondary(selectedProduct)"
					>
					</products-scenario-tooltip>
					<h2 ng-if="selectedProduct._scenariosCount > 2">{{getMsgs('example')}} {{$index + 1}}</h2>
					<h2 ng-if="selectedProduct._scenariosCount == 2 && $index == 0">{{getMsgs('positive')}}</h2>
					<h2 ng-if="selectedProduct._scenariosCount == 2 && $index == 1">{{getMsgs('negative')}}</h2>
					<p ng-if="!scenario._shortTextKey">{{getMsgs('product-type-' + selectedProduct.productType.id + '-scenario-' + ($index + 1) + '-short' + (isBarrierTypeEuropean(selectedProduct) ? '-european' : ''), {asset: getMsgs(selectedProduct.productMarkets[0].market.displayName), marketPrice: scenario._level})}}</p>
					<p ng-if="scenario._shortTextKey">{{getMsgs(scenario._shortTextKey, {asset: getMsgs(selectedProduct.productMarkets[0].market.displayName), marketPrice: scenario._level})}}</p>
					<div class="scenario-bottom">
						<div class="receive-label">{{getMsgs('receive')}}</div>
						<div class="receive-value" data-height-target="right">
							<span ng-if="scenario._amountType != 'static'">{{formatAmount({amount: getScenarioAmount(selectedProduct, scenario, investment.invAmount), currencyId: selectedProduct.currencyId, centsPart: 2, skipAmountDivide: true, centsLength: selectedProduct.productMarkets[0].market.decimalPoint})}}</span>
							<span ng-if="scenario._amountType == 'static'">{{formatAmount({amount: scenario._amount, currencyId: selectedProduct.currencyId, centsPart: 2, centsLength: selectedProduct.productMarkets[0].market.decimalPoint})}}</span>
						</div>
						<products-scenario-tooltip 
							ng-if="!isMobile" 
							formula="selectedProduct._typeConfig.parseTooltipFormula(scenario._tooltip, {investment: formatAmount({amount: investment.invAmount, currencyId: selectedProduct.currencyId, centsPart: 2, skipAmountDivide: true, centsLength: selectedProduct.productMarkets[0].market.decimalPoint})})"
							denomination-formula-visible="productIsSecondary(selectedProduct)"
						>
						</products-scenario-tooltip>
					</div>
				</div>
				<div data-scenario-block class="scenario-block" ng-if="scenario._template == 'short'">
					<div class="scenario-bottom">
						<div>{{getMsgs('you-will-receive')}}</div>
						<div class="receive-value" data-height-target="right">
							<span ng-if="scenario._amountType != 'static'">{{formatAmount({amount: getScenarioAmount(selectedProduct, scenario, investment.invAmount), currencyId: selectedProduct.currencyId, centsPart: 2, skipAmountDivide: true, centsLength: selectedProduct.productMarkets[0].market.decimalPoint})}}</span>
							<span ng-if="scenario._amountType == 'static'">{{formatAmount({amount: scenario._amount, currencyId: selectedProduct.currencyId, centsPart: 2, centsLength: selectedProduct.productMarkets[0].market.decimalPoint})}}</span>
						</div>
						<products-scenario-tooltip 
							ng-if="!isMobile" 
							formula="selectedProduct._typeConfig.parseTooltipFormula(scenario._tooltip, {investment: formatAmount({amount: investment.invAmount, currencyId: selectedProduct.currencyId, centsPart: 2, skipAmountDivide: true, centsLength: selectedProduct.productMarkets[0].market.decimalPoint})})"
							denomination-formula-visible="productIsSecondary(selectedProduct)"
						>
						</products-scenario-tooltip>
					</div>
				</div>
			</div>
		<!-- </div> -->
	</div>
	<div class="interactive-calculator-toggler-holder" ng-if="isMobile">
		<div class="interactive-calculator-toggler" ng-click="toggleInteractiveCalculator(selectedProduct)" ng-if="!selectedProduct._calculatorVisible">
			<i class="icon" ng-include="'images/interactive-calculator-icon.svg'"></i>
			<span class="text">{{getMsgs('interactive-calculator')}}</span>
		</div>
	</div>
	<div class="interactive-calculator-holder fade-in-out" ng-if="selectedProduct._calculatorVisible" append-to-body="isMobile && selectedProduct._calculatorVisible">
		<div class="interactive-calculator">
			<i class="close" ng-click="toggleInteractiveCalculator(selectedProduct, false)"></i>
			<div class="interactive-calculator-header" ng-if="isMobile">
				<div class="title">{{getMsgs('based-on-investment-amount')}}</div>
				<div class="ammount">{{formatAmount({amount: investment.invAmount, currencyId: selectedProduct.currencyId, centsPart: 2, skipAmountDivide: true})}}</div>
			</div>
			<label class="barrier-toggle-holder" ng-if="isAmericanBarrier()">
				<input type="checkbox" ng-model="interactiveCalculator.barrierOccurred" ng-click="barrierOccurredCheckboxHandler()">
				<span class="checkbox-switch"></span>
				<span>{{getMsgs('barrier-occurred')}}</span>
			</label>
			<div class="header-info">{{getMsgs('interactive-calculator-header')}}</div>
			<div class="slider-holder">
				<div class="slider">
					<div class="slider-inner">
						<div class="receive-rectangle">
							<div class="mask top"></div>
							<div class="mask bottom"></div>
							<div class="receive">{{getMsgs('receive')}}</div>
							<div class="amount" fit-to-parent-font>{{interactiveCalculator.getAmount(selectedProduct, investment.invAmount)}}</div>
							<div class="additional-info">({{interactiveCalculator.getProfitLoss()}})</div>
						</div>
						<rzslider rz-slider-model="interactiveCalculator.slider.value" rz-slider-options="interactiveCalculator.slider.options" ng-if="interactiveCalculator.slider" rz-slider-decorator rz-slider-decorator-barrier-occured-label="getMsgs('barrier-occurred')"></rzslider>
					</div>
					<div class="zero-marker" ng-style="{width: interactiveCalculator.getZeroMarkerWidth() + '%'}">0%</div>
					<div class="footer-info">{{getMsgs('interactive-calculator-footer')}}</div>
				</div>
			</div>
		</div>
	</div>
</div>