<div class="product-dates">
	<h1>{{getMsgs('dates')}}</h1>
	<span class="mobile-left">
		<h3>{{getMsgs('subscription-end-date')}}</h3>
		<div>
			{{dateGetSimple(selectedProduct.subscriptionEndDate)}}
		</div>
		<h3>{{getMsgs('initial-fixing-date')}}</h3>
		<div>
			{{dateGetSimple(selectedProduct.initialFixingDate)}}
			<span class="date-info">{{getDateCloseText()}}</span>
		</div>
		<h3>{{getMsgs('first-exchange-trading-date')}}</h3>
		<div>
			{{dateGetSimple(selectedProduct.firstExchangeTradingDate)}}
		</div>
	</span>
	<span class="mobile-right">
		<h3>{{getMsgs('last-trading-date')}}</h3>
		<div>
			{{dateGetSimple(selectedProduct.lastTradingDate)}}
		</div>
		<h3>{{getMsgs('final-fixing-date')}}</h3>
		<div>
			{{dateGetSimple(selectedProduct.finalFixingDate)}}
			<span class="date-info">{{getDateCloseText()}}</span>
		</div>
		<h3>{{getMsgs('redemption')}}</h3>
		<div>
			{{dateGetSimple(selectedProduct.redemptionDate)}}
		</div>
	</span>
</div>