<div ng-controller="ProductsCtr" class="screen product-screen list-products-screen">
	<div class="filters" ng-if="!isHomePage && action != 'loading'">
		<div class="inner-section">
			<label>
				<span class="filter-name" ng-if="!isMobile">{{getMsgs('assets')}}</span>
				<single-select ng-model="filter.assets" ng-change="updateProductsList();filterChangeHandler();" class="filter-assets" template="{{isMobile ? 'popup' : ''}}" auto-focus-disabled="isMobile" ng-attr-lock-scroll="{{isMobile}}"></single-select>
				<span class="filter-name" ng-if="isMobile">{{getMsgs('assets')}}</span>
			</label>
			<label>
				<span class="filter-name" ng-if="!isMobile">{{getMsgs('type')}}</span>
				<single-select ng-model="filter.type" ng-change="updateProductsList();filterChangeHandler();" class="filter-type" template="{{isMobile ? 'popup' : ''}}" ng-attr-lock-scroll="{{isMobile}}"></single-select>
				<span class="filter-name" ng-if="isMobile">{{getMsgs('type')}}</span>
			</label>
			<label>
				<span class="filter-name" ng-if="!isMobile">{{getMsgs('maturity')}}</span>
				<single-select ng-model="filter.maturity" ng-change="updateProductsList();filterChangeHandler();" class="filter-maturity" template="{{isMobile ? 'popup' : ''}}" ng-attr-lock-scroll="{{isMobile}}"></single-select>
				<span class="filter-name" ng-if="isMobile">{{getMsgs('maturity')}}</span>
			</label>
			<label>
				<span class="filter-name" ng-if="!isMobile">{{getMsgs('protection')}}</span>
				<single-select ng-model="filter.protection" ng-change="updateProductsList();filterChangeHandler();" class="filter-protection" template="{{isMobile ? 'popup' : ''}}" ng-attr-lock-scroll="{{isMobile}}"></single-select>
				<span class="filter-name" ng-if="isMobile">{{getMsgs('protection')}}</span>
			</label>
		</div>
	</div>
	<div class="inner-section" ng-class="{loading: (action == 'loading')}">
		<div class="products-holder">
			<section make-visible-when-in-viewport make-visible-when-in-viewport-event="filteredProducts" data-list-single-product data-list-product-index="{{$index}}" ng-repeat-start="selectedProduct in filtered.products | orderBy: '-priority' | limitTo: visibleProducts.count track by selectedProduct.id" class="product-block list-single-product-block {{getClassNames(selectedProduct)}}" ng-class="{primary: isPrimary(selectedProduct), secondary: isSecondary(selectedProduct), 'has-investment': isLogged && selectedProduct._hasInvestment, collapsed: !selectedProduct._isExpanded, expanded: selectedProduct._isExpanded}">
				<div class="product-medium-holder" ng-include="'html/templates/products/products-list-template-medium.html'" ng-if="!isMobile"></div>
				<span ng-if="isMobile">
					<span class="template-small" ng-include="'html/templates/products/products-list-template-small.html'" ng-click="popupOpen(selectedProduct)"></span>
					<div class="template-medium-overlay" ng-if="popupIsOpen(selectedProduct)" ng-click="popupClose(selectedProduct)"></div>
					<div class="template-medium-popup product-screen list-products-screen" ng-if="popupIsOpen(selectedProduct)" append-to-body>
						<section class="product-block list-single-product-block {{getClassNames(selectedProduct)}}" ng-class="{primary: isPrimary(selectedProduct), secondary: isSecondary(selectedProduct), 'has-investment': isLogged && selectedProduct._hasInvestment, collapsed: !selectedProduct._isExpanded, expanded: selectedProduct._isExpanded}">
							<div class="template-medium-holder">
								<span class="template-medium" ng-include="'html/templates/products/products-list-template-medium.html'" ng-click="$event.stopPropagation()" click-outside="popupClose(selectedProduct)"></span>
							</div>
						</section>
					</div>
				</span>
			</section>
			<!--<div data-products-mid-row ng-repeat-end class="products-mid-row" ng-bind-html="getMsgs('products-list-disclaimer')" ng-if="($index + 1) % (productsPerRow*productsRowsPerDisclaimer) === 0 || $last"></div>-->
			<div ng-repeat-end class="products-mid-row" ng-if="($index + 1) % (productsPerRow) === 0 || $last">&nbsp;</div>
			
			<div class="no-products-found" ng-if="filtered.products.length == 0">{{getMsgs('no-matching-products-found')}}</div>
		</div>
	</div>
	<div class="button-holder" ng-if="!isHomePage && visibleProducts.count < filtered.products.length">
		<button type="button" class="button yellow" ng-click="visibleProducts.count = visibleProducts.count + visibleProducts.increment"><span>{{getMsgs('load-more')}}</span></button>
	</div>
	<div class="button-holder" ng-if="isHomePage">
		<button type="button" class="button yellow" ng-click="$state.go('ln.products', {ln: $state.params.ln})"><span>{{getMsgs('view-all-notes')}}</span></button>
	</div>
	<products-glossary ng-if="!isMobile"></products-glossary>
</div>