<!doctype html>
<html id="spAppHolder" ng-app="spApp">
<head>
	<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
	<meta name="description" content="{{getMetaDescription()}}">
	<meta name="keywords" content="{{getMetaKeywords()}}"> 
	
	<title ng-bind-html="getMetaTitle()">Any Capital</title>

	<link rel="icon" type="image/png" href="./images/favicon.png">
	
	<link rel="stylesheet" href="./js/lib/malihu/jquery.mCustomScrollbar.min.css">
	<link rel="stylesheet" href="./js/lib/pdf.js-viewer/viewer.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css?version=${buildTimeStamp}">
	<link rel="stylesheet" type="text/css" href="./css/flags.css?version=${buildTimeStamp}">
	<link rel="stylesheet" type="text/css" href="./css/style-mobile.css?version=${buildTimeStamp}">
	
	<script>
	/*(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-N5V9CD');*/
	</script>
	<!-- Adding the rest of the script in app.run, because Angular -->
	<script src="https://www.googletagmanager.com/gtm.js?id=GTM-N5V9CD" async></script>
	
	<script src="./js/lib/xregexp-all-min.js"></script>
	<script src="./js/lib/pdf.js-viewer/pdf.js"></script>
	<script src="./js/lib/jquery.min.js"></script> <!--IE <9 not supported-->
	<script src="./js/lib/angular.min.js"></script> <!--IE <9 not supported-->
	<script src="./js/lib/angular-ui-router.min.js"></script>
	<script src="./js/lib/angular-sanitize.min.js"></script>
	<script src="./js/lib/angular-animate.min.js"></script>
	<script src="./js/lib/angular-cookies.min.js"></script>
	<script src="./js/lib/angular-touch.min.js"></script>
	
	<link rel="stylesheet" href="./js/lib/angular-ui-tree.min.css">
	<script src="./js/lib/angular-ui-tree.min.js"></script>
	
	<script src="./js/lib/angular-file-upload.js" type="text/javascript"></script>
	<script src="./js/lib/angular-file-upload-shim.js" type="text/javascript"></script>
	<script src="./js/lib/angular-recaptcha.js" type="text/javascript"></script>
	
	<script src="./js/lib/malihu/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="./js/lib/scrollbars.min.js"></script>
	
	<link rel="stylesheet" href="./js/lib/slick-carousel/slick.css">
	<script src="./js/lib/slick-carousel/slick.min.js"></script>
	<script src="./js/lib/slick-carousel/angular-slick.min.js"></script>
	
	<script src="./js/lib/pdf.js-viewer/angular-pdfjs-viewer.js"></script>
	
	<script src="./js/lib/jquery.ba-throttle-debounce.min.js"></script>
	
	<link rel="stylesheet" href="./js/lib/font-awesome-4.6.3/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
	<script type="text/javascript">
		window.WebFontConfig = {
			google: { families: [ 'Fira Sans:300,300i,400,400i,500,500i,700,700i' ] },
			active: function(){
				$(window).trigger('fontsloaded');
			}
		};
	</script>
	<script defer="" async="" src="https://ajax.googleapis.com/ajax/libs/webfont/1.0.28/webfont.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML&delayStartupUntil=configured&dummy=.js"></script>
	
	<script src="./js/lib/ui-bootstrap-tpls.js"></script>
	<script src="./js/lib/datetimepicker/datetime-picker.min.js"></script>
	<script src="./js/lib/datetimepicker/datetime-picker.tpls.js"></script>
	
	<script src="./js/lib/fingerprint.js" type="text/javascript"></script>
	
	<!-- <link rel="stylesheet" type="text/css" href="./js/lib/angular-carousel/angular-carousel.min.css"> -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular-touch.min.js"></script>
	<!-- <script src="./js/lib/angular-carousel/angular-carousel.min.js" type="text/javascript"></script> -->
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.0/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.6/angular-moment.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="./js/lib/angularjs-slider/rzslider.min.css">
	<script src="./js/lib/angularjs-slider/rzslider.min.js"></script>

	<script src="./js/anycapital.js?version=${buildTimeStamp}" type="text/javascript"></script>

	<script>
		FileAPI = {debug: true};
	</script>
</head>
<body ng-class="{mobile: isMobile, 'os-android': deviceInfo.osType == 'ANDROID', 'os-ios': deviceInfo.osType == 'IOS', 'menu-visible': isMobile && menuVisible}">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5V9CD"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	
	<div ui-view class="wrapper" ng-class="{loading: !loaded, blurred: blurWrapper}"></div>
	<div class="mobile-menu-swipe-area" ng-swipe-right="toggleMenu(true)" ng-if="isMobile"></div>
	<popups></popups>
</body>
</html>
