<div ng-controller="MyAccountCtr" class="screen my-account-screen">
	<div class="inner-section">
		<div class="my-account-main-menu">
			<button type="button" class="my-account-menu-toggle-btn" ng-if="isMobile" ng-click="toggleMainMenuVisibility()">
				<i class="dot"></i>
				<i class="dot"></i>
				<i class="dot"></i>
			</button>
			<ul class="main-menu-list fade-in" ng-if="!isMobile || isMainMenuVisisbleForMobile" ng-click="toggleMainMenuVisibility(false)" click-outside="toggleMainMenuVisibility(false)">
				<li class="my-notes">
					<a ng-class="{ current: $state.includes('ln.my-account.my-notes')}" ng-href="{{$state.href('ln.my-account.my-notes', {ln: language.code})}}">{{getMsgs('my-notes')}}</a>
				</li>
				<li class="funding">
					<a ng-class="{ current: $state.includes('ln.my-account.funding')}" ng-href="{{$state.href('ln.my-account.funding', {ln: language.code})}}">{{getMsgs('funding')}}</a>
				</li>
				<li class="settings">
					<a ng-class="{ current: $state.includes('ln.my-account.settings')}" ng-href="{{$state.href('ln.my-account.settings', {ln: language.code})}}">{{getMsgs('my-profile')}}</a>
				</li>
			</ul>
		</div>
		<div ui-view="my-account"></div>
	</div>
</div>