<div class="" ng-if="notes && notes.length > 0">
	<div class="note-block" ng-repeat-start="note in notes">
		<table>
			<tr>
				<td>
					<div class="product-asset-name">{{getMsgs(products[note.investment.productId].productMarkets[0].market.displayName)}}</div>
					<div class="investment-status">
						{{getMsgs('investment-status-' + note.investment.investmentStatus.id)}}
					</div>
				</td>
				<td>
					<div class="product-link">
						<a ng-href="{{$state.href('ln.product', {ln: language.code, productId: products[note.investment.productId].id})}}"></a>
					</div>
					<div class="product-type">{{getMsgs('product.type.' + products[note.investment.productId].productType.id)}}</div>
					<div class="ids">
						{{getMsgs('prod-id')}}: {{products[note.investment.productId].id}} | {{getMsgs('inv-id')}}: {{note.investment.id}}
					</div>
					<div class="purchased-at-date">{{getMsgs('purchased-at')}}: {{note.investment.timeCreated | date: 'dd.MM.yyyy HH:mm'}}</div>
					<div class="initial-fixing-level" ng-if="!productIsPrimary(productGroup.product)">{{getMsgs('initial-fixing-level')}}: <span>{{productGetInitialFixingLevel(products[note.investment.productId])}}</span></div>
				</td>
			</tr>
			<tr>
				<td class="expand-cell">
					<div class="label">{{getMsgs('amount')}}:</div>
					<div class="amount">{{formatAmount({amount: note.investment.amount, currencyId: loggedUser.currencyId, centsPart: 2})}}</div>
					<div class="amount-additional" ng-if="note.investment.ask > 0">
						<span ng-if="note.investment.ask >= 100">{{round(note.investment.ask - 100, 2)}}<span class="percent">%</span> </span>
						<span ng-if="note.investment.ask < 100">{{round(note.investment.ask - 100, 2)}}<span class="percent">%</span> </span>
						
						<span class="premium-discount" ng-if="note.investment.ask >= 100">{{getMsgs('premium')}}</span>
						<span class="premium-discount" ng-if="!(note.investment.ask >= 100)">{{getMsgs('discount')}}</span>
					</div>
					
					<div class="toggle-investments" ng-click="note._isExpanded = !note._isExpanded" ng-class="{open: note._isExpanded, closed: !note._isExpanded}"></div>
				</td>
				<td>
					<div class="label">{{getMsgs('return-amount')}}:</div>
					<div class="amount">{{formatAmount({amount: note.investment.returnAmount, currencyId: loggedUser.currencyId, centsPart: 2})}}</div>
					<div class="redemption">
						<span class="label">{{getMsgs('redemption')}}: </span>
						{{products[note.investment.productId].redemptionDate | date: 'dd.MM.yyyy HH:mm'}}
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="note-block additional-info-row" ng-repeat-end ng-if="note._isExpanded">
		<table>
			<tr ng-repeat="row in products[note.investment.productId].productTypesConfig['closed-notes-details-left']" ng-if="!row.isHidden">
				<td class="additional-info-label">{{getMsgs(row.title)}}:</td>
				<td>
					<span ng-if="row.type != 'callback'">{{row.value}}</span>
					<span ng-if="row.type == 'callback'">{{row.value(note)}}</span>
					<span ng-if="row.extra">
						{{getMsgs(row.extra)}}
					</span>
				</td>
			</tr>
			<tr>
				<td class="additional-info-label">{{getMsgs('amount')}}:</td>
				<td>
					{{formatAmount({amount: note.investment.amount, currencyId: settings.CURRENCY_EUR, centsPart: 2})}}
					<span ng-if="note.investment.originalAmount != note.investment.amount"> ({{formatAmount({amount: note.investment.originalAmount, currencyId: settings.CURRENCY_USD, centsPart: 2})}})</span>
				</td>
			</tr>
		</table>
		<table>
			<tr ng-repeat="row in products[note.investment.productId].productTypesConfig['closed-notes-details-right']" ng-if="!row.isHidden">
				<td class="additional-info-label">{{getMsgs(row.title)}}:</td>
				<td>
					<span ng-if="row.type != 'callback'">{{row.value}}</span>
					<span ng-if="row.type == 'callback'">{{row.value(note)}}</span>
					<span ng-if="row.extra">
						{{row.extra}}
					</span>
				</td>
			</tr>
		</table>
	</div>
</div>