<div class="my-notes my-notes-closed" ng-controller="MyNotesCtr">
	<section>
		<div class="inner-wrapper" ng-class="{loading: (action == 'loading')}">
			<span ng-include="'html/templates/my-account/my-notes-closed-desktop.html'" ng-if="!isMobile"></span>
			<span ng-include="'html/templates/my-account/my-notes-closed-mobile.html'" ng-if="isMobile"></span>
		</div>
	</section>
</div>