<div ng-controller="AboutCtr" class="screen about-screen">
	<div class="about-wrapper">
		<section class="top-banner">
			<span class="text-paralax">{{getMsgs('retailing-structured-products')}}</span>
		</section>
		
		<section class="our-vision-section inner-section">
			<h1><span>{{getMsgs('our-vision')}}</span></h1>
			<div class="our-vision-text" ng-bind-html="getMsgs('about-our-vision-text')"></div>
		</section>
		
		<section class="bottom-banner">
			<span class="text-paralax">{{getMsgs('our-people')}}</span>
		</section>
		
		<section class="inner-section our-company-section">
			<div class="our-company" ng-bind-html="getMsgs('about-us-our-company-text', {'agreement-link': $state.href('ln.terms')})"></div>
			<div class="company-name">{{getMsgs('ouroboros-derivatives-trading-limited')}}</div>
			<div class="company-info">
				<div class="line">
					<div class="company-info-parameter">{{getMsgs('address')}}:</div>
					<div class="company-info-value">{{getMsgs(Company_Address)}}</div>
				</div>
				<div class="line">
					<div class="company-info-parameter">{{getMsgs('phone-number')}}:</div>
					<div class="company-info-value"><a ng-href="tel:{{support_phone}}">{{support_phone}}</a></div>
				</div>
				<div class="line">
					<div class="company-info-parameter">{{getMsgs('email')}}:</div>
					<div class="company-info-value"><a ng-href="mailto:{{support_email}}">{{support_email}}</a></div>
				</div>
			</div>
		</section>
		
		<section class="video">
			<iframe class="video-holder" ng-src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe>
		</section>
		
		<section class="inner-section why-us">
			<h1><span>{{getMsgs('why-us')}}</span></h1>
			<div class="step step-{{stepNum}}" ng-repeat="stepNum in [1,2,3,4]">
				<i class="icon-holder"></i>
				<div class="why-us-description">
					<div class="title">{{getMsgs('about-us-step-' + stepNum + '-title')}}</div>
					<div class="text">{{getMsgs('about-us-step-' + stepNum + '-text')}}</div>
				</div>
			</div>
		</section>

	</div>
</div>