<div class="modal-header">
	<h2 class="agreement-header-title">{{$ctrl.getMsgs('agreement')}}</h2>
	<div class="agreement-header-text">{{$ctrl.getMsgs('agreement-header-text')}}</div>
</div>
<div class="modal-body">
	<div class="agreements-holder" ng-scrollbars>
		<h3 class="agreement-title">{{$ctrl.getMsgs('agreement-terms-title')}}</h3>
		<ul class="agreements-list" ng-bind-html="$ctrl.getMsgs('terms-of-use-text')"></ul>
	</div>
</div>
<div class="modal-footer">
	<form class="accept-agreement-form" name="acceptAgreementForm" ng-submit="$ctrl.acceptAgreementSubmitHandler(acceptAgreementForm)" novalidate>
		<label class="accept-terms-holder">
			<input name="isAcceptTerms" type="checkbox" ng-model="$ctrl.isAcceptedTerms" ng-true-value="1" ng-false-value="0" required>
			<span class="checkbox"></span>
			<span class="text">{{$ctrl.getMsgs('accept-ac-terms')}}</span>
		</label>
		<button class="button yellow">{{$ctrl.getMsgs('submit')}}</button>
		<div class="error">{{acceptAgreementForm.$submitted && acceptAgreementForm.isAcceptTerms.$invalid ? $ctrl.getMsgs('form-error-signup-accept-terms') : '&nbsp;'}}</div>
	</form>
</div>