<div class="basics-glossary-wrapper">
	<div class="basics-glossary">
		<div class="alphabet-list-holder">
			<ul class="alphabet-list">
				<li class="letter-holder" ng-repeat="letter in $ctrl.alphabet track by letter">
					<button type="button" class="letter" ng-class="{active: $ctrl.activeLetter === letter}" ng-click="$ctrl.toggleActiveLetter(letter)">{{letter}}</button>
				</li>
			</ul>
		</div>
		<div class="glossary-holder">
			<ul>
				<li ng-repeat="definition in $ctrl.glossaryList | filter:$ctrl.startsWithActiveLetter | limitTo:$ctrl.visibleDefinitions.limit track by definition.id">
					<strong>{{definition.title}}</strong>
					<span>{{definition.description}}</span>
				</li>
			</ul>
		</div>
	</div>
	<button type="button" class="load-more-btn" ng-if="$ctrl.isMobile && $ctrl.visibleDefinitions.limit < $ctrl.glossaryList.length" ng-click="$ctrl.loadMore()">{{$ctrl.getMsgs('load-more')}}</button>
</div>
