<div ng-controller="FAQCtr" class="screen faq-screen">
	<div class="faq-wrapper">
		<div class="inner-section">
			<h1>{{getMsgs('frequently-asked-questions')}}</h1>
			
			<ul class="categories">
				<li ng-click="selectCategory(FAQ_CATEGORIES.trading)" class="trading" ng-class="{active: isCategoryActive(FAQ_CATEGORIES.trading)}">
					<div class="icon-holder">
						<i class="icon" ng-include="'images/faq-icons/trading.svg'"></i>
					</div>
					<span class="text">{{getMsgs('faq-categories-trading')}}</span>
				</li>
				<li ng-click="selectCategory(FAQ_CATEGORIES.product_types)" class="product-types" ng-class="{active: isCategoryActive(FAQ_CATEGORIES.product_types)}">
					<div class="icon-holder">
						<i class="icon" ng-include="'images/faq-icons/producttype.svg'"></i>
					</div>
					<span class="text">{{getMsgs('faq-categories-product-types')}}</span>
				</li>
				<li ng-click="selectCategory(FAQ_CATEGORIES.deposit_and_withdraw)" class="deposit-and-withdraw" ng-class="{active: isCategoryActive(FAQ_CATEGORIES.deposit_and_withdraw)}">
					<div class="icon-holder">
						<i class="icon" ng-include="'images/faq-icons/deposit.svg'"></i>
					</div>
					<span class="text">{{getMsgs('faq-categories-deposit-and-withdraw')}}</span>
				</li>
				<li ng-click="selectCategory(FAQ_CATEGORIES.my_account)" class="my-account" ng-class="{active: isCategoryActive(FAQ_CATEGORIES.my_account)}">
					<div class="icon-holder">
						<i class="icon" ng-include="'images/faq-icons/myaccount.svg'"></i>
					</div>
					<span class="text">{{getMsgs('faq-categories-my-account')}}</span>
				</li>
				<li ng-click="selectCategory(FAQ_CATEGORIES.technical)" class="technical" ng-class="{active: isCategoryActive(FAQ_CATEGORIES.technical)}">
					<div class="icon-holder">
						<i class="icon" ng-include="'images/faq-icons/trading.svg'"></i>
					</div>
					<span class="text">{{getMsgs('faq-categories-technical')}}</span>
				</li>
			</ul>
			
			<ul class="items">
				<li class="fade-in" ng-repeat="item in faqItems | filter: {category: filter.currentCategory}" ng-class="{active: item.active}">
					<h2 ng-click="toggleItem(item)">{{item.title}}</h2>
					<div class="item-content slide-animation" ng-if="item.active" ng-bind-html="item.content"></div>
				</li>
			</ul>
		</div>
	</div>
</div>