<div class="questionnaire">
	<div class="sign-up-questionnaire" ng-if="$ctrl.userStepId !== 3" ng-class="{loading: $ctrl.action === 'loading'}">
		<form name="signUpQuestionnaireForm" ng-submit="$ctrl.submitHandler(signUpQuestionnaireForm)" novalidate>
			<h2 class="questions-title" ng-if="questionsList.length">{{$ctrl.isLastPage() ? $ctrl.getMsgs('trading-experience') : $ctrl.getMsgs('economic-background')}}</h2>
			<ul class="list-of-questions">
				<li class="question" ng-repeat="question in $ctrl.questionsList | limitTo: $ctrl.visibleQuestionnaire.limit : $ctrl.visibleQuestionnaire.offset track by question.id">
					<h3 class="title">{{$ctrl.getMsgs(question.displayName)}}</h3>
					<div class="answer-options-wrapper">
						<label class="answer-option" ng-repeat="answer in question.qmAnswerList track by answer.id" ng-if="question.questionTypeId === $ctrl.questionType.radio">
							<input type="radio" name="{{question.name + question.id}}" value="{{answer.id}}" ng-model="question.answerId" ng-disabled="$ctrl.userStepId > 3" required>
							<span class="radio-button"></span>
							<span class="text">{{$ctrl.getMsgs(answer.displayName)}}</span>
							<input type="text" name="{{answer.textName}}Text" ng-if="answer.textName" ng-model="answer.textAnswer" required>
						</label>
						<single-select class="answers-select" name="{{question.name + question.id}}" ng-model="question.qmAnswerListForSelect" ng-if="question.questionTypeId === $ctrl.questionType.select" ng-disabled="$ctrl.userStepId > 3" required></single-select>
					</div>
					<div class="form-error-msg" ng-if="signUpQuestionnaireForm.$submitted && signUpQuestionnaireForm[question.name + question.id].$invalid && signUpQuestionnaireForm[question.name + question.id].$error.required">{{$ctrl.getMsgs('mandatory-question')}}</div>
				</li>
			</ul>
			<div class="sign-up-questionnaire-footer" ng-if="$ctrl.questionsList.length || $ctrl.checkboxesList.length">
				<ul class="list-of-questions" ng-if="$ctrl.isLastPage()">
					<li class="question" ng-repeat="question in $ctrl.checkboxesList">
						<label class="answer-option">
							<input type="checkbox" name="{{question.name + question.id}}" value="{{answer.id}}" ng-model="question.answerId" ng-disabled="$ctrl.userStepId > 3" required>
							<span class="checkbox"></span>
							<span class="text" ng-bind-html="$ctrl.getMsgs(question.displayName, {'risk-link': $ctrl.$state.href('ln.terms'), 'agreement-link': $ctrl.$state.href('ln.terms'), 'privacy-link': $ctrl.$state.href('ln.privacy-policy')})"></span>
						</label>
					</li>
				</ul>
				<button type="button" class="button back-btn" ng-if="$ctrl.visibleQuestionnaire.offset" ng-click="$ctrl.prevHandler()">{{::$ctrl.getMsgs('back')}}</button>
				<button type="submit" class="button green" ng-if="!$ctrl.isLastPage()">{{::$ctrl.getMsgs('next')}}</button>
				<button type="submit" class="button yellow" ng-if="$ctrl.isLastPage() && $ctrl.userStepId < 3">{{::$ctrl.getMsgs('submit')}}</button>
			</div>
		</form>
		<div class="errors-holder">
			<div class="global-errors-container" ng-if="errors.globalErrorMsg" ng-bind-html="errors.globalErrorMsg"></div>
		</div>
	</div>
	<div class="thank-for-registration" ng-if="$ctrl.userStepId === 3">
		<div class="registration-icon-holder">
			<img src="../images/icon-registration.svg" alt="registration" class="registration-icon">
		</div>
		<h2 class="registration-title">{{$ctrl.getMsgs('questionnaire-thank-for-registration-title')}}</h2>
		<div class="registration-text" ng-bind-html="$ctrl.getMsgs('questionnaire-thank-for-registration-text', {'agreement-link': $ctrl.$state.href('ln.terms'), 'support-email': $ctrl.support_email})"></div>
	</div>
</div>
