<div ng-controller="SecurityCtr" class="screen security-screen">
	<div class="wrapper">
		<section class="top-banner"></section>
		<div class="inner-section-wrapper">
			<section class="inner-section">
				<h2 class="screen-main-header">{{getMsgs('security')}}</h2>
				<div class="tips-list" ng-bind-html="getMsgs('security-text')"></div>
			</section>
		</div>
	</div>
</div>