<div class="sign-up-screen">
	<div class="inner-section">
		<div class="sign-up-screen-header">
			<ul class="step-list">
				<li class="step">
					<span class="text-holder">{{getMsgs('signup')}}</span>
				</li>
				<li class="step" ng-class="{active: $state.includes('ln.sign-up.personal-details')}">
					<span class="text-holder">{{getMsgs('personal-details')}}</span>
				</li>
				<li class="step" ng-class="{active: $state.includes('ln.sign-up.questionnaire')}">
					<span class="text-holder">{{getMsgs('questionnaire')}}</span>
				</li>
			</ul>
		</div>
		<div class="sign-up-screen-body" ui-view></div>
	</div>
</div>