<div class="tutorials-list">
	<div class="tutorial-wrapper" ng-repeat="tutorial in $ctrl.tutorialsList | limitTo: $ctrl.visibleProducts.count track by tutorial.id" ng-click="$ctrl.openVideoModal(tutorial)">
		<button class="window">
			<div class="header">
				<i class="dot"></i>
				<i class="dot"></i>
				<i class="dot"></i>
			</div>
			<div class="image-holder">
				<img ng-src="{{'../images/basics/tutorials/' + tutorial.previwImage}}" alt="{{tutorial.name}}">
			</div>
		</button>
		<a class="tutorial-link">{{tutorial.name}} &#187;</a>
	</div>
</div>
<div class="button-holder" ng-if="$ctrl.visibleProducts.count < $ctrl.tutorialsList.length">
	<button type="button" class="button load-more-tutorials-btn" ng-click="$ctrl.loadMoreClickHandler()">{{$ctrl.getMsgs('load-more')}}</span></button>
</div>