<div class="underlying-assets">
	<form name="underlyingAssetsForm" ng-submit="$ctrl.underlyingAssetsFormHandler(underlyingAssetsForm)">
		<div class="underlying-assets-search-wrapper">
			<input class="underlying-assets-search" type="text" placeholder="Start typing..." ng-model="$ctrl.assetSearchValue" required>
		</div>
	</form>
	<ul class="underlying-assets-list">
		<li class="asset-name-holder" ng-repeat="assetName in $ctrl.underlyingAssetsFiltersList track by $index">
			{{assetName}}
			<button class="delete-btn" type="button" ng-click="$ctrl.deleteAsset(assetName)">&times;</button>
		</li>
	</ul>
	<div class="assets-list" ng-class="{loading: $ctrl.loading}">
		<slick infinite="false" slides-to-show="{{$ctrl.isMobile ? 1 : 4}}" slides-to-scroll="{{$ctrl.isMobile ? 1 : 4}}" arrows="true" dots="false" variable-width="false" easing="swing" speed="1000" ng-if="$ctrl.underlyingAssetsList.length">
			<div class="asset" ng-repeat="asset in $ctrl.underlyingAssetsList track by asset.id">
				<div class="product-image-holder">
					<img class="product-image" ng-src="images/assets/{{asset.id}}.svg" fallback-src="images/assets/default.svg" alt="">
				</div>
				<div class="asset-name-holder" bind-height="asset-name">
					<span class="asset-name">{{$ctrl.getMsgs(asset.displayName)}}</span>
				</div>
				<div class="bloomberg-ticker-holder" ng-if="!$ctrl.isMobile">
					<div class="bloomberg-ticker-title">{{$ctrl.getMsgs('bloomberg-ticker')}}:</div>
					<div class="bloomberg-ticker">{{::asset.ticker}}</div>
				</div>
				<div class="market-place-holder">
					<div class="market-place-title" ng-if="!$ctrl.isMobile">{{$ctrl.getMsgs('market-place')}}: </div>
					<i class="market-place-icon" ng-if="!$ctrl.isMobile"></i>
					<span ng-if="!$ctrl.isMobile">&nbsp;</span>
					<span class="market-place-name">{{::asset.marketPlace}}</span>
				</div>
			</div>
		</slick>
	</div>
</div>